.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 406px}
.u-section-1 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 316px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-1 {margin: 30px 0 0}
.u-section-1 .u-text-2 {margin: 20px -11px 0 11px}
.u-section-1 .u-layout-cell-2 {min-height: 316px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 31px 0 0}
.u-section-1 .u-text-4 {margin: 19px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 316px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-text-5 {margin: 30px 0 0}
.u-section-1 .u-text-6 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: auto}
.u-section-1 .u-layout-cell-1 {min-height: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-3 {min-height: auto}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 750px}
.u-section-2 .u-text-1 {font-size: 3.75rem; margin: 20px 194px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 65px auto 65px 0}
.u-section-2 .u-image-1 {min-height: 315px; background-image: url("images/tempraturesmoyennes.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 315px}
.u-section-2 .u-container-layout-2 {padding: 30px 60px}
.u-section-2 .u-text-2 {margin: 0 9px 0 0}
.u-section-2 .u-text-3 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 315px}
.u-section-2 .u-container-layout-3 {padding: 30px 60px}
.u-section-2 .u-text-4 {margin: 52px 0 0 20px}
.u-section-2 .u-text-5 {margin: 20px 0 0}
.u-section-2 .u-image-2 {min-height: 315px; background-image: url("images/tempratures2.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {margin-right: 0}
.u-section-2 .u-text-4 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1380px}
.u-section-2 .u-text-1 {font-size: 2.25}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }.u-section-3 .u-sheet-1 {min-height: 498px}
.u-section-3 .u-group-1 {width: 516px; min-height: 467px; height: auto; margin: 16px 0 0 auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {margin: 0 -7px 0 0}
.u-section-3 .u-custom-html-1 {min-height: 447px; height: auto; margin: -457px 570px 26px 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 481px}
.u-section-3 .u-custom-html-1 {width: 570px; margin-right: 370px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 367px}
.u-section-3 .u-custom-html-1 {margin-right: 150px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 653px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-custom-html-1 {width: 540px; margin-right: 0} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 446px}
.u-section-3 .u-group-1 {width: 340px}
.u-section-3 .u-text-1 {margin-right: 0}
.u-section-3 .u-custom-html-1 {width: 340px} }